# create and drop tables and sequences, load import.sql
spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
#  redis:
#    port: 6379
#    host: localhost
  servlet:
    multipart:
      max-file-size: 1MB
      max-request-size: 1MB
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3307/food_delivery
    username: root
    password: admin123

# MySQL settings
# spring
#  datasource:
#    url: ** link database **
#    username: ** admin username **
#    password: ** admin password **
redis:
  port: 6379
  host: localhost

#cors
#client:
#  cors: local url
#clientFFP:
#  cors: real website url

server:
  port: 8481  #check lại port này
  ssl:
    enabled: false
#    key-store:
#    key-store-password:
#    key-store-type: jks
#    key-alias:
#    key-password:


# development variables
serverUrl: http://127.0.0.1  #thay đổi giữa local và server để dùng cho mục đích test hay deploy
isTest: true   #true khi là mt local

# mail
# smtpHost: email tổng đài
# smtpPort:

file:
  upload-dir: \Documents\Java19 cybersoft\food-delivery-app\food-delivery-app\src\frontend\fooddeliveryapp_fe\askbootstrap.com\preview\osahan-eat\theme-sidebar\img\user
